@import url('https://fonts.googleapis.com/css?family=Concert+One');

figure {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border-radius: 8px;
  width: 300px;
  padding: 1.5em
}

figure h2 {
  font-family: 'Concert One', cursive;
  letter-spacing: 2px;
  font-size: 2em;
}

img.avatar {
  border-radius: 8px;
}

figcaption {
  color: #fff;
  font-size: 1.25em;
  padding: 1.25em;
}

nav {
  text-align: center;
}

nav a:link,
nav a:visited {
  color: #000;
  text-decoration: none;
}